@import '../colors.scss';
@import '../fonts.scss';

.create-page {
  font-family: $sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.create-form {
  width: 840px;
}

.create-msg {
  height: 251px;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-width: 640px;
}

.create-msg > img {
  width: 100%;
  min-height: 251px;
}

.create-text {
  position: absolute;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 1;
  color: $white;
  text-align: center;
}

.create-text > h2 {
  font-size: 34px;
}

.create-text > h3 {
  font-size: 20px;
  font-weight: 400;
}

.create-location, .create-main, .create-disclaimer {
  display: flex;
  border-bottom: 1px solid $light-mid-grey;
  align-items: flex-start;
  padding: 24px 16px 8px;
}

.create-img {
  width: 50px;
  height: auto;
  display: block;
  padding: 24px 16px 8px;
}

.create-step {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.6;
  color: $light-mid-grey;
}

.create-main-text {
  margin-right: auto;
  padding: 24px 16px 8px;
}

.create-loc-text, .create-disc-text {
  display: flex;
  flex-direction: column;
  // box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  // max-width: 840px;
  padding: 24px 16px 8px;
  width: 100%;
}

.create-disclaimer {
  border-bottom: none;
}

.create-group-heading {
  font-size: 28px;
  color: $black;
  font-weight: 600;
  margin: 0px 0px;
}

.city {
  display: flex;
  align-items: center;
}

.city > input {
  font-size: 28px;
  width: 170px;
}

.city > div {
  color: $link-blue;
  font-size: 13px;
  font-weight: 400;
}

.create-title > input {
  background-color: $input-white;
  border-radius: 3px;
  border: 1px solid $light-mid-grey;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0 0 4px;
  max-width: 100%;
  padding: 8px;
  width: 100%;
}

.create-title > input::placeholder {
  color: $mid-grey;
  font-weight: 300;
}

.create-description > textarea {
  background-color: $input-white;;
  border-radius: 3px;
  border: 1px solid $light-mid-grey;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0 0 4px;
  max-width: 100%;
  padding: 8px;
  width: 100%;
  min-height: 85px;
  height: 200px;
}

ul {
  list-style-type: disc;
  padding-inline-start: 40px;
}

ul.bullets {
  list-style-position: outside;
}

h6 {
  font-size: 16px;
  margin: 8px;
}

.create-button {
  margin: 16px 0px;
  border-radius: 3px;
  border: 9px solid $darker-bright-red;
  background-color: $darker-bright-red;
  color: $white;
  font-weight: 600;
  width: 170px;
  text-align: center;
}