@import '../colors.scss';
@import '../fonts.scss';

.app {
    position: relative;
}

.footer {
    position: absolute;
    width: 100%;
    color: $white;
    background-color: $grey-blue;
    font-family: $sans-serif;
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
}

#footer-register {
    display: none;
}

#footer-login {
    background-color: $darkest-blue;
}

#footer-login > div * {
    color: $light-grey;
}

.footer > div {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.create-group {
    text-decoration: underline;
    margin: 0px 0px 20px;
    border-bottom: 1px solid $mid-grey;
    padding: 0px 0px 20px;
}

.footer-item {
    display: flex;
}

.footer-item * {
    padding: 0px 16px 0px 0px;
}

.footer-item > div {
    color: $mid-grey;
}

.follow {
    flex-direction: column;
    margin: 0px 0px 16px;
    padding: 16px 0px 0px;
}

.follow > div {
    display: flex;
}

.follow > div * {
    padding: 0px 20px 0px 0px;
    color: $mid-grey;
}

h4 {
    margin: 0px 0px 20px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $dark-grey;
}

.footer-flex > .create-group {
    text-decoration: none;
    border-bottom: none;
    padding: 0;
}