@import '../colors.scss';
@import '../fonts.scss';

.group-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid $light-mid-grey;
  color: $dark-grey-blue;
}

.group-show-header {
  display: flex;
  height: 357px;
  width: 100%;
  overflow: hidden;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center;
  font-weight: 400;
}

.group-show-header > div {
  padding-left: 24px;
}

.group-show-header > div > img {
  width: 600px;
  height: auto;
  border-radius: 5px;
}

.group-show-header > div > div {
  display: flex;
  align-items: center;
}

.group-show-header > div > div > i {
  color: $grey;
  padding-right: 7px;
}

.group-show-header > div > div > div {
  display: flex;
}

.group-show-bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.group-show-stripe {
  display: flex;
  margin: 16px 0px 0px 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  justify-content: space-around;
  border-top: 1px solid $less-light-mid-grey;
  padding-top: 8px;
}

.group-show-stripe > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.group-show-stripe:first-child {
  padding-left: 0px;
}

.about-events {
  width: 130px;
}

.group-show-button {
  border-radius: 4px;
  border: 1px solid $bright-red;
  background-color: $bright-red;
  color: $white;
  width: fit-content;
  text-align: center;
  padding: 5px 32px;
}

.group-show-bottom {
  background-color: $light-grey;
}

.group-show-bottom > div * {
  padding-left: 16px;
}

.group-show-description {
  max-width: 600px;
}

.group-show-description > h2 {
  padding-top: 8px;
}

.group-show-events-header {
  display: flex;
  justify-content: space-between;
}

.group-show-events-header > h3 {
  padding-left: 0px;
}

.group-org > div {
  display: flex;
  align-items: center;
}

.avatar {
  background-color: $white;
  border-radius: 50%;
  height: 60px;
  width: auto;
  overflow: hidden;
}

.group-show-members > div > ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  padding-bottom: 32px;
}

