@import '../colors.scss';
@import '../fonts.scss';

.group-index-your-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-index-your-groups > ul > div > img {
  width: auto;
  height: 180px;
  opacity: 1.0;
}

.group-index-your-groups > ul > div {
  overflow: hidden;
}

.gradient {
  background: linear-gradient(to bottom, $white, black); 
  opacity: 0.4;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
}

.group-index-header {
  padding: 32px 0 48px;
  width: 100%;
  margin: 0 auto;
  background-color: $teal-blue;
  color: $white;
  text-align: center;
}

.group-index-header > h2 {
  font-size: 34px;
  line-height: 1.25;
  font-weight: 600;
}

.group-index-header > div {
  font-size: 16px;
  display: flex;
  justify-content: center;
  color: $light-teal;
}

.fa-circle {
  font-size: 4px;
  color: $light-teal;
  padding: 0px 12px;
  position: relative;
  top: -4px;
}

.group-index-your-groups > h4 {
  width: 990px;
  text-transform: uppercase;
  padding-left: 90px;
  margin: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  max-width: 976px;
  padding-bottom: 100px;
}

.grid-item {
  position: relative;
  height: 180px;
  border: 1px solid $light-mid-grey;
  border-radius: 3px;
}

.group-title {
  z-index: 2;
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: $white;
  font-size: 20px;
  -webkit-text-stroke: 1px $light-grey;
}

.group-title > h3 {
  font-weight: 400;
  margin-bottom: 0px;
  line-height: 1;
}

.group-title > p {
  font-size: 16px;
  color: $light-mid-grey;
  -webkit-text-stroke: 0px $light-grey;
}
