@import '../colors.scss';
@import '../fonts.scss';

.nav-bar {
    position: relative;
	display:flex;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px solid $light-grey;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    font-family: $sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: $bright-blue;
    line-height: 23.2px;
}

#register > .right-nav {
    display: none;
}

#login > .right-nav {
    color: $bright-red;
}

.auth-nav {
    display: flex;
    padding: 0px 0px 0px 20px;
}

.auth-nav * {
    padding: 0 0 0 10px;
    color: $grey;
    font-weight: 400;
}

.auth-nav > .has-border {
    border-left: 1px solid $light-mid-grey;
}

// .link-hover:hover {
//     color: $bright-blue;
// }

.auth-nav > .link-hover:hover {
    color: $bright-blue;
}
// .auth-nav:first-child:hover {
//     color: $bright-blue;
// }

// .auth-nav:nth-child(2):hover {
//     color: $bright-blue;
// }

// .auth-nav > link:hover {
//     color: $bright-blue;
// }

// .auth-nav > .has-border:hover {
//     border-left: 1px solid $light-mid-grey;
// }

// .link-hover:link:hover {

// }