@import '../colors.scss';
@import '../fonts.scss';


.splash-vid {
    height: 480px;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-width: 520px;
}

.splash-vid > video {
    width: 100%;
    min-height: 480px;
    -webkit-filter: brightness(-3);
    filter: brightness(80%);
}

.vid-text {
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    z-index: 1;
    color: $white;
    text-align: center;
    font-family: $sans-serif;
}

h1 {
    font-size: 42px;
    font-weight: 700;
}

.vid-text:nth-child(2) {
    font-size: 22px;
    font-weight: 550;
    margin: 12px 0px 0px;
}

#join-button {
    font-size: 18px;
    font-weight: 550;
    margin: 36px 0px 0px;
    padding: 12px 112px;
    border-radius: 5px;
    background-color: $bright-red;
}

.splash-text {
    display: flex;
    flex-direction: column;
    font-family: $sans-serif;
    color: $bluer-grey;
}

.gomeet-how {
    color: $white;
    background-color: $darkest-blue;
    text-align: center;
}

.gomeet-how > h2 {
    font-size: 32px;
    font-weight: 550;
    margin: 20px 0px 0px;
    padding: 20px 0px;
}

.gomeet-how > link {
    font-size: 16px;
}

.how-items {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px;
    padding: 20px 20px;
}

.sub-how-item {
    display: flex;
    text-align: left;
    margin: 0px 0px 20px;
    padding: 0px 0px 0px 20px;
}

.sub-how-item > div {
    padding: 0px 0px 0px 20px;
}

.sub-how-item > div > span {
    font-size: 24px;
    font-weight: 600;
}

.sub-how-item > div > p {
    margin: 0px 0px 20px;
}

.sub-how-item > div > div {
    display: flex;
    color: $bright-blue;
    font-weight: 550;
}

.icon-link {
    padding: 0px 0px 0px 20px;
}

i {
    color: $bright-blue;
}
