$light-red: #fbe1e3;
$bright-red:#f13a59;
$dark-bright-red: #e81035;
$darker-bright-red: #ed1c40;
$darkest-bright-red: #c11311;

$yellow-orange: #ff911a;
$orange-red: #cc0000;

$white: #ffffff; 
$light-grey: #f8f8f8;
$grey: #7f7f7f;
$grey-blue: #353e48;
$dark-grey-blue: #2f363f;

$bright-blue: #00a2c7;
$link-blue: #1f24cc;
$darkest-blue: #0f1721;


