$light-red: #fbe1e3;
$bright-red:#f13a59;
$dark-bright-red: #e81035;
$darker-bright-red: #ed1c40;
$darkest-bright-red: #c11311;

$yellow-orange: #ff911a;
$orange-red: #cc0000;

$white: #ffffff; 
$input-white: #fafafa;
$light-grey: #f8f8f8;

$light-mid-grey: #dcdcdc;
$less-light-mid-grey: #d3d3d3;
$mid-grey: #c0c0c0; 
$grey: #7f7f7f;
$dark-grey: #656464;
$darkest-grey: #555353;
$black: #000057; 

$light-teal: #b7c9c7;
$teal-blue: #00455d;
$bluer-grey: #2e3e48;
$grey-blue: #353e48;
$dark-grey-blue: #2f363f;

$light-blue: #d8dfea;
$bright-blue: #00a2c7;
$fb-blue: #283a62;
$link-blue: #1f24cc;
$darkest-blue: #0f1721;


